@use 'custom';

// CUSTOM ELEMENTS
// GENERAL

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// IMAGE
.img-location {
  display: block;
  margin: auto;
  max-height: 24vh;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .img-location {
    max-height: 30vh;
    max-width: 100%;

  }
}

// MODAL
.description {
  margin: 1rem 0;
}

// SVG
.modal-header .closing-square {
  position: relative;
  //left: 93%; // 93
  right: -295px;
  top: -25px;
  opacity: 1;
  background-color: white;
  @media screen and (min-width: 480px) {
  left: 95%;
  //right: -300px;
  }
}



// FOR MAP
.mapboxgl-ctr .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon button {
  width: 100%;
  height: 100%;
}


