@use "custom";

// CUSTOM ELEMENTS
// GENERAL

body {
  margin: 0px !important;
  padding: 0px !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// IMAGE
.img-location {
  display: block;
  margin: auto;
  max-height: 24vh;
  max-width: 100%;
}

.img-location-credit {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .img-location {
    max-height: 30vh;
    max-width: 100%;
  }
}

// MODAL
.description {
  margin: 1rem 0;
}

// CLOSING BUTTON
@media screen and (max-width: 240px) {
  .closer-position {
    position: relative;
    opacity: 1;
    background-color: white;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0.8rem;
    margin-top: 0.2rem;
    top: -1.8rem;
    left: 95%;
  }
}
@media screen and (min-width: 241px) {
  .closer-position {
    position: relative;
    opacity: 1;
    background-color: white;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 1rem;
    margin-top: 0.1rem;
    top: -2.2rem;
    left: 100%;
  }
}

// FOR MAP
.mapboxgl-ctr .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon button {
  width: 100%;
  height: 100%;
}

// LOADING WELCOME GRAPHIC
.loading {
  display: visible;
  position: fixed;
  top: 0; left: 0; z-index: 9999;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s;
}

.not-loading {
  display: none;
}

.loading-img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  grid-area: 'loading-logo';
  left: 1.5rem;
  top: 1rem;
  bottom: 1rem;
}

.logo-frame {
  position: fixed;
  top: calc(50vh - 4rem); left: calc(50vw - 4rem);
  background-color: white;
  margin: auto;
  padding: 1rem;
  padding-top: 6rem;
  border-radius: 50%;
  width: 8rem;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-areas: 'loading-logo';
  align-content: center;
}

.logo-transition-enter {
  opacity: 0;
}

.logo-transition-appear {
  opacity: 0;
}

.logo-transition-appear-active {
  transition: opacity 1000ms;
  
}
.logo-transition-enter-active {
  opacity: 0.9;
  transition: opacity 1000ms;
}
.logo-transition-exit {
  opacity: 0.9;
}
.logo-transition-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
  
}

